<header class="header">
    <a href="../index.html" class="logo"><span>Vikings</span>Barbearia</a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">Início</a>
        <a href="#about">Sobre</a>
        <a href="#services">Serviços</a>
        <a href="#units">Unidades</a>
        <a href="#professionals">Profissionais</a>                                  
        <a href="#subscription">Assinatura</a>
        <a href="pages/scheduleNow.html">Agendar agora</a>        
    </nav>
</header>